{
    "reddit": {
        "oauth": {
            "key": "key",
            "secret": "secret",
            "callback": "callback"
        },
        "script": {
            "useragent": "useragent",
            "key": "key",
            "secret": "secret",
            "username": "username",
            "password": "password"
        }
    },
    "session": {
        "secret": "secret"
    }
}
